<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.private_codx.aprivate">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".views.ActivityPrincipal" />
        <activity android:name=".views.ActivityPerguntas" />
        <activity android:name=".views.ActivityPesquisa" />
        <activity android:name=".views.Load_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.ComentarioActivity" />
        <activity android:name=".views.RankingActivity" />
        <activity android:name=".views.CadastroActivity" />
        <activity android:name=".views.PerfilActivity" />
        <activity android:name=".views.SettingsActivity" />
        <activity android:name=".views.MinhasPerguntasActivity" />
        <activity android:name=".views.RecomendadasActivity" />
        <activity android:name=".views.fragments.cardView_perguntas" />
        <activity android:name=".views.fragments.recyclerView_perguntas" />
        <activity android:name=".views.FazerPergunta" />
        <activity android:name=".ResponderActivity"></activity>
    </application>

</manifest>